<%= render partial: "shared/user_head" %>
  <table class="table table-hover">
    <tbody class="linkMOUSE">
      <% @collects.each do |collect| %>
        <tr data-link="<%= post_path(collect.post) %>">
          <th class="text-center"><%= collect.post.title %></th>
          <td></td>
          <td></td>
          <td><div id="collect-<%= collect.post.id %>"> 
            <%= render partial: "shared/collect", :locals => { :post => collect.post }  %>
          </div></td>
        </tr>
      <% end %>
    </tbody>
  </table>