<%= render partial: "shared/user_head" %>
<div class="container">
  <div class="row">
    <% @replies.each do |reply| %>
    <div class="col-12 col-sm-6 col-md-9">
      <h4><%=link_to reply.post.title, post_path(reply.post)%></h4>
      <div id="<%= reply.id %>">
        <div class="card reply-card">
          <div class="card-body">
            <%= simple_format reply.comment %>
          </div>
        </div>
        <% if reply.user == current_user %>
          <%= link_to icon('fas', 'times fa-2x'), post_reply_path(reply.post, reply), class: "btn float-right", method: :delete, data: { confirm: "Are you sure?"} %>
          <%= link_to icon('far', 'edit fa-2x'), edit_post_reply_path(reply.post, reply), class: "btn float-right", remote: true %>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>
