  <table class="table table-hover">
    <tbody class="linkMOUSE">
      <% @posts.each do |post| %>
        <tr data-link="<%= post_path(post) %>">
          <th class="text-center"><%= post.title %></th>
          <td class="text-center"><%= post.status %>ed</td>
          <td class="text-center"><%= post.created_at.to_date %></td>
          <% if post.user == current_user %>
            <td class="text-center">
              <%= link_to icon('far', 'edit fa-lg'), edit_post_path(post) %>
              <%= link_to icon('fas', 'times fa-lg'), post_path(post), method: :delete, data: { confirm: "Are you sure?"} %>
            </td>
          <% end %>
          <td></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<div class="container">
  <div class="row">
    <div><%= link_to "New Post", new_post_path, class: "btn btn-success"%></div>
  </div>
</div>