<!DOCTYPE html>
<html>
  <head>
    <title>DojoForum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <%= link_to "Forum", root_path, class: "navbar-brand" %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item"><%= link_to('Feeds', feeds_posts_path, class: "nav-link") %></li>
          <li class="nav-item"><%= link_to('All Post', root_path, class: "nav-link") %></li>
          <li class="nav-item"><%= link_to('New Post', new_post_path, class: "nav-link") %></li>
        </ul>   
        <ul class="navbar-nav ml-auto">
          <% if current_user %>
            <li class="nav-item nav-link">Hi, <%= current_user.email %></li>
            <% if current_user.admin? %>
              <li class="nav-item"><%= link_to "(Admin)", admin_root_path, class: "nav-link" %></li>
            <% end %>
            <li class="nav-item"><%= link_to 'Profile', user_path(current_user), class: "nav-link" %></li>
            <li class="nav-item"><%= link_to('Log out', destroy_user_session_path, method: :delete, class: "nav-link") %></li>
            <!-- <%= link_to('修改密碼', edit_user_registration_path) %> -->
          <% else %>
            <li class="nav-item"><%= link_to('Sign up', new_user_registration_path, class: "nav-link") %></li>
            <li class="nav-item"><%= link_to('Log in', new_user_session_path, class: "nav-link") %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% if flash[:notice] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-success alert-dismissible alert-fixed">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= notice %>
        </div>
      </div>
    </div>
    <% end %>

    <% if flash[:alert] %>
    <div class="container">
      <div class="row">
        <div class="alert alert-danger alert-dismissible alert-fixed">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <%= alert %>
        </div>
      </div>
    </div>
    <% end %>

    <%= yield %>
  </body>
</html>
